.search{
    position: relative;
}
.search__input{
    background: #F4F4F4;
    border-radius: 30px;
    font-size: 12px;
    line-height: 14px;
    color: #C4C4C4;
    padding: 10px 0 10px 36px;
    border: transparent;
    /* width: 50%; */
}
.search__btn{
    background: transparent;
    border: none;
    position: absolute;
    top: 7px;
    left: 8px;
}